.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100vh;
}

.colored_boxshadow:focus {
  border-color: darkorange;
  box-shadow: 0 0 3pt 1pt orange;
}

.login_logo {
  width: 100px;
  object-fit: contain;
  margin: 20px 0;
}

.login_container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.login_container > h1 {
  font-weight: 400;
  margin-bottom: 20px;
}

.login_container > form > h5 {
  margin-bottom: 5px;
}

.login_container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  box-sizing: border-box;
  border-top-color: #949494;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
    0 1px 0 rgba(0, 0, 0, 0.07) inset;
  padding: 0 5px;
  outline: none;
}

.login_container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login_signIn_button {
  cursor: pointer;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 4px;
  outline: none;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}

.login_register_button {
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  outline: 0;
}

.login_register_button:focus {
  border-color: gray;
  box-shadow: 0 0 3pt 1pt darkgray;
}
