.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product_info {
  height: 100px;
  margin-bottom: 15px;
}

.product_price {
  margin-top: 5px;
  font-weight: 500;
}

.product_rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  z-index: -1;
}

.product > button {
  cursor: pointer;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 4px;
  outline: none;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}

.product > button:hover {
  box-shadow: 0 0 3pt 1pt orange;
  background-color: darkorange;
}
