.subtotal {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100px;
  justify-content: space-between;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.subtotal_gift {
  display: flex;
  align-items: center;
}

.subtotal_gift > input {
  margin-right: 5px;
}

.subtotal > button {
  cursor: pointer;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  outline: none;
  border-radius: 4px;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}

.subtotal > button:focus {
  border-color: darkorange;
  box-shadow: 0 0 3pt 1pt orange;
}
